
<div class="message-container" id="message-<%= message.id %>">
  <div id="message">
    <i class="author">
      <span class="meta-data"><%= message.user.nickname %></span>
      <small><%= message.created_at.strftime("%a %b %e at %l:%M%p")%></small>
    </i>
    <p><%= message.content %></p>
  </div>
</div>
