// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$yell: #F6D743;

// The ecosystem

$yellow: #F6D743;
$yellow-bkg: #FFEB8A;
$light-yellow-bkg: #FCF6DA;
$btn-green: #FCF6DA;
$dark-green: #0E623C;
$light-green: #ACF789;
