// Specific CSS for your home-page
body {
  position: relative;
  background-color: #FCF6DA;
  margin-top: 40px;
  font-weight: 400;



}


.app-flex-column {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.container {

  margin-top: 40px;
}
