// Specific CSS for your home-page
body {
  background-color: #FCF6DA;
  padding-top: 50px;
  font-family: 'Abel', sans-serif !important;
  font-weight: 400;
  padding-bottom: 100px;
  padding-top: 80px;

}


