<% current_user.update(conversation_channel: conversation.id)  %>
<div id="messages" data-conversation-id="<%= conversation.id %>">
  <div class="message-container" id="message-0" style="display: none"></div>

  <% conversation.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>