<!-- app/views/conversations/show.html.erb -->
<div id="messages" data-conversation-id="<%= @conversation.id %>">
  <% @conversation.messages.each do |message| %>
    <%= render "messages/message", message: message %>
  <% end %>
</div>

<span id="send">
  <%= simple_form_for [ @conversation, @message ], remote: true do |f| %>
    <%= f.input :content, label: false, placeholder: "Message" %>
  <% end %>
</span>