<div class="banner">


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <h2 class="banner-slogan">"Increase your knowledge, reduce your foot print, <br> improve our future."</h2>
            <p class="banner-sign">~ The Ecosystem crew</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“What we are doing to the forests of the world is but a mirror reflection <br> of what we are doing to ourselves.”</h2>
          <p class="banner-sign">~ Mahatma Gandhi</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“I only feel angry when I see people throwing away things <br> we could use.”</h2>
          <p class="banner-sign">~ Mother Teresa</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“Progress is impossible without change, and those who cannot change their minds <br> cannot change anything.”</h2>
          <p class="banner-sign">~ George Bernard Shaw</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“Never doubt that a small group of thoughtful, committed citizens can change the world; <br> indeed, it is the only thing that ever has.”</h2>
          <p class="banner-sign">~ Margaret Mead</p>
        </div>
      </div>
    </div>

</div>


