<div class="banner">

  <div class="container">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <h2 class="banner-slogan">"Reduce your print, improve the future"</h2>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“The ultimate test of man’s conscience may be his willingness to sacrifice something today for future generations whose words of thanks will not be heard.”</h2>
          <p class="banner-slogan">—Gaylord Nelson</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“What’s the use of a fine house if you haven’t got a tolerable planet to put it on.”</h2>
          <p class="banner-slogan">—Henry David Thoreau</p>
        </div>
        <div class="carousel-item">
          <h2 class="banner-slogan">“Environmentally friendly cars will soon cease to be an option … they will become a necessity.”</h2>
          <p class="banner-slogan">—Fujio Cho, Honorary Chairman of Toyota Motors</p>
        </div>
      </div>
    </div>
  </div>
</div>


