<div class="footer-container">

    <div class="footer-bottom d-flex">

      <p>© 2021 the-ecosystem.net</p>

      <div class="social d-flex">
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-google-plus-square"></i>
        <i class="fab fa-pinterest-square"></i>
        <i class="fab fa-instagram-square"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter-square"></i>
      </div>

    </div>


</div>
