<div class="footer-container">

  <div class="footer-wrap">

    <div class="footer-info">


    </div>

    <div class="social">
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-google-plus-square"></i>
      <i class="fab fa-pinterest-square"></i>
      <i class="fab fa-instagram-square"></i>
      <i class="fab fa-facebook-square"></i>
      <i class="fab fa-twitter-square"></i>
    </div>

    <div class="footer-bottom">
      <p>© 2021 the-ecosystem.com</p>
    </div>

  </div>
</div>
