<div class="search-input-group">
    <div class="search-input">
      <%= form_tag posts_path, method: :get do %>
      <%= text_field_tag :query, params[:query], class: "form-control search-input banner-search", placeholder: "Find a post" %>
    </div>
    <div>
      <%= select_tag "Category", options_for_select(%w[all hacks don't project], \
      selected: params[:category]), class: "form-control categories", id: "search-field" %>
    </div>
    <div>
      <%= submit_tag "Go", class: "btn btn-panel" %>
      <% end %>
    </div>
</div>

