
<% green = rating.round %>
<% grey = 5 - green %>
<span class="rating-post">
  <% green.times do |x| %>
    <span class="tree-green">&#x1F333;</span>
<!--     <i class="fas fa-star star-green"></i> -->
  <% end %>
  <% grey.times do |x| %>
    <span class="tree-grey">&#x1F333;</span>
  <% end %>
</span>




