<%= render 'shared/banner' %>

<div class="container">
  <div class="row w-100 post-view">
    <div class="col-8 post-resume"></div>
    <div class="col-4 post-img"></div>
  </div>

  <div class="row w-100 post-view">
    <div class="col-8 post-resume"></div>
    <div class="col-4 post-img"></div>
  </div>

  <div class="row w-100 post-view">
    <div class="col-8 post-resume"></div>
    <div class="col-4 post-img"></div>
  </div>
</div>
