<div class="banner">


    <div class="search-input-group">
      <div class="search-input">
        <form class="">
          <input class="nav-search banner-search" type="search" placeholder="Search" aria-label="Search">
        </form>

      </div>
      <div class="dropdown">
        <button class="banner-search-categories dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Hacks</a>
          <a class="dropdown-item" href="#">Don't</a>
          <a class="dropdown-item" href="#">Projects</a>
        </div>
      </div>
      <button type="button" class="btn">
        <i class="fas fa-search"></i>
      </button>
    </div>

    <div class="filters">
      <ul class="w-100">
        <li class="filter-btn">Sort by:</li>
        <li class="filter-btn"> <%= link_to "Hacks", search_path %> </li>
        <li class="filter-btn"> <%= link_to "Don't", search_path %> </li>
        <li class="filter-btn"> <%= link_to "Explore", search_path %> </li>
        <li class="filter-btn"> <%= link_to "Info" %> </li>
      </ul>
    </div>

</div>



</div>
