
<div class="comment">

  <a href="<%= profile_path(comment.user) %>"><img src="<%= cl_image_path comment.user.prof_pic.key, height: 300 %>" class="avatar" /></a>

  <div class="comment-content">
    <p><%= comment.content %></p>
  </div>

</div>