
<div class="comment">

  <a href="<%= profile_path(user) %>"><img src="<%= cl_image_tag user.prof_pic.key, height: 300 %>" class="avatar-large" /></a>

  <div class="comment-content">
    <p><small><%= comment.content %></small></p>
  </div>

</div>