<div class="container">
  <h1>Posts#new</h1>
  <%= simple_form_for @post do |f| %>
    <div class="field">
      <%= f.input :title %>
      <%= f.input :rich_body, as: :rich_text_area %>
      <%= f.submit %>
    </div>
  <% end %>
</div>
