<div class="container">
  <h1>Posts#new</h1>
  <%= form_with model: @post do |form| %>
    <div class="field">
      <%= form.label :content %>
      <%= form.rich_text_area :rich_body, size: "600x200", value: "Your Post here <br>" %>
      <%= form.submit %>
    </div>
  <% end %>
</div>


