<h1>Posts#show</h1>
<div class="container w-50">
    <h1><%= @post.title %></h1>
    <%= cl_image_tag @post.photos.first.key, height: 300, width: 400 %><br>
    <%= link_to "EDIT POST", edit_post_path(@post) %>
    <p>
      <%= @post.rich_body %>
    </p>
</div>
