  .banner {
    position: relative;
    background-image: linear-gradient(#20481b7a, rgba(250, 250, 90, 0.5)), url("https://images.unsplash.com/photo-1442120108414-42e7ea50d0b5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=818&q=80");
    background-position: center;
    background-size: cover;
    height: 300px;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding-bottom: 0;
    width: 100%;
    justify-content: center;
    margin-top: -20px;
  }

  .banner-slogan {
    color: white;
    text-align: center;
    top: 200px;
    left: 0;
    width: 100%;
    z-index: 4;
    font-size: 2rem;
    font-family: 'Abel', sans-serif;
  }


.dropdownMenuButton {
  color: $light-green !important;
}


.filters {
  position: absolute;
  bottom: 0;
  display: flex;
  background-color: rgba(94, 94, 94, 0.2);
  // background-color: rgba(131, 169, 107, 0.5);
  width: 100%;
  height: 40px;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex !important;
    justify-content: space-around;

    li {


    }

    a {
      color: $white;
      // color: #ACF789;
      margin-left: 10px;
      margin-bottom: 3px;

    }
    a:hover {
      color: #ffffff;
      box-shadow: #dddddd;
      text-decoration: none;
    }

    li {
      color: $white;
    }

  }
}

.filter-btn {

  align-self: flex-end;
  margin-bottom: 2px solid #f6d743;

}

