.btn-panel-container {
  position: absolute;
  display: flex;
  bottom: 10px;
  right: 0;
}

// .btn-panel {
//   padding: 0.050rem 0.9rem;
//   background: #83A96B;
//   // background: black;
//   color: white;
//   border: 1px solid white;
//   border-radius: 7px;
//   margin-right: 3px;
// }


.btn-panel {
  padding: 0.2rem 0.9rem;
  font-size: 1rem;
  background: $dark-green;
  // background: #83A96B;
  color: $yell;
  // border: 1px solid white;
  border-radius: 9px;
  font-weight: bold;
  // margin-right: 3px;
  // display: block;
  font-size: 1rem;
  // a:hover {
  //   color: white;
  // }
  }

.btn-panel:hover {
  color: $beige;
  transition: 0.2s
}

.btn-large {
  padding: 0.2rem 0.9rem;
  font-size: 1rem;
  background: $dark-green;
  // background: #83A96B;
  color: $yell;
  // border: 1px solid white;
  border-radius: 9px;
  font-weight: bold;
  // margin-right: 3px;
  // display: block;
  font-size: 1.25rem;
  // a:hover {
  //   color: white;
  // }
  }

.btn-large:hover {
  color: $beige;
  transition: 0.2s
}









