.footer-container {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  background-color: #649d66;
  width: 100%;

}

.footer-wrap {
  position: relative;
  width: 100%;
}


.social {

  text-align: center;

  i {
    color: $light-yellow-bkg;
    font-size: 25px;
    transition: color 0.3s;
    margin: 10px;
    padding-top: 10px;

  }

  i:hover {
    color: $yellow;
  }
}


.footer-bottom {
  justify-content: space-around;
  align-items: center;
  color: $light-yellow-bkg;
  background-color: $dark-green;
  width: 100%;
  text-align: center;

  p {
    margin: 0;
  }

}
.container {
  margin-top: 16px;
}
