.navbar-lewagon {
  justify-content: space-between;
  background: #0E623C;
  display: flex;



  h4 {
    color: $yell;
    // align-items: flex-end;
    font-family: 'Abel', sans-serif !important;

  }


}

.middle-links {
  flex-grow: 0.5;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex !important;
    justify-content: space-between;

    li {
    display: inline;

    }

    a {
      color: #ACF789;
      margin-left: 10px;
      margin-bottom: 3px;
      font-family: 'Abel', sans-serif;
    }
    a:hover {
      color: #ffffff;
      box-shadow: #dddddd;
      text-decoration: none;
    }
  }
}


.navbar-brand {
  display: inline-flex !important;
  // justify-content: flex-start;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}


.nav-links {
  color: #ACF789 !important;

}

.nav-link {

    color: #ACF789 !important;
    margin-left: 5px;
    margin-right: 5px;
}

.navbar-nav {
  margin-left: 10px;
}
.nav-search {
    background-color: #649D66;
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    border: 1px solid #ced4da;
    border-radius: 2px;

}


.search-log {
  display: flex;
}

.sticky {
  position: fixed;
  z-index: 7;
  top: 0;
  width: 100%;
}
