.post-box {
  background-color: white;
  padding: 30px 40px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
  h1  {
    font-size: 30px;
    margin-bottom: 0px;
  }
  img {

    border-radius: 7px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
  }
}

.post-body {
  padding: 50px 80px;
  a   {
  color: $bar-green;
  }
  a:hover {
  color: $dark-green;
  transition: color 0.1s;
  }
}

#post-headline {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  p {
    display: inline;
  }
}

.post-subline {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  .btn-large {
    margin-right: 12px;
  }
  .user-data {
    p {
      font-size: 20px;
      margin-bottom: 0px;
      display: inline;
    }
    a {
      font-size: 20px;
      color: $bar-green;
      font-weight: bold;
    }
    a:hover {
    color: $dark-green;
    transition: color 0.1s;
    }
  }
}

.messages-link {
  font-size: 1.5em;
  margin-left: 0.4em;
}

.post-core {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  p {
    display: inline;
  }
}

.user-data {
  display: flex;
  p {
    margin-right: 5px;
  }
}

.expectations {
  list-style: none;
  font-size: 1em;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.single-ratings {
  font-size: 1.2em;
  list-style: none;
  margin-left: 25px;
}

.list-head {
  font-size: 1.2em;
  margin-left: 20px;
}


#list-rater {
  font-size: 1.2em;
  margin-left: 20px;
}


#post-title {
  text-align: left;
  max-width: 70%;
  margin-bottom: 25px;

}

.list-right {
  text-align: right;
}

#stars {
  text-align: right;
  font-size: 30px;
  color: $yellow;
}

.single-stars {
  color: $yellow;
  font-size: 1.13em;
}

#post-image {
  display: block;
}

#views {
  font-size: 22px;
  color: $black;
}

.star-grey {
  color: grey;
  font-size: 20px;
}

.star-green {
  font-size: 20px;
}

.tree-green {
  color: transparent;
  text-shadow: 0 0 0 $dark-green;
}

.tree-grey {
  color: transparent;
  text-shadow: 0 0 0 lightgrey;
}

.rating-post {
  display: inline;
}

.speech-bubbles {
  font-size: 40px;
}

.not-visible {
  display: none;
}

#rating-form {
  width: 70%;
}

.rater-headline {
  display: flex;
  font-size: 1.5em;
  justify-content: space-between;
}

.radio-buttons {
  display: inline !important;
}

#rater-detailled {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

#rater-form {
  text-align: right;
  .btn-large {
    text-align: right;
    margin-top: 30px;
  }
}

#rater-overall {
  display: flex;
}

#ranges-headline {
  display: flex;
  justify-content: space-between;
  width: 30%;
}

.attachment__caption {
  display: none;
}
