.post-box {
  background-color: white;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 50px;
  border-radius: 12px;
  h1  {
  font-size: 30px;
  img {
    border: 4px solid yellow;
  }
  }
}


#post-headline {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  p {
    display: inline;
  }
}

#post-subline {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 20px;
  p {
    font-size: 20px;
    margin-bottom: 0px;
  }
}

#post-title {
  text-align: left;
  max-width: 70%;

}

#stars {
  text-align: right;
  font-size: 30px;
  color: $yellow;

}

#post-image {
  display: block;
}

#views {
  font-size: 22px;
  color: $black;
}
