.search-input-group {

    width: 100%;
    height: 53px;
    border: 1px white solid;
    border-radius: 10px;
    background-color: #649d66;
    display: flex;
    justify-content: center;

}

.search-cont {
  display: flex;
  justify-content: center;
  margin-top: -20px;
}

.search-input{
  display: flex;
  align-items: center;
  input {
    outline:none;
    // width: 400px;
     -webkit-appearance: none;
    //appearance: none;
    height: 35px;
    border: none;
    // background-color: $bar-green;
    // color: white;
    // flex-grow: 1;
    // padding-right: 0;
    border-radius: 6px;
    width: 350px;



  }
  padding-left: 8px;
  form {
    display: flex;
  }

}

.drop-list{

  display: flex;
  // border-left: 1px solid white;
  #search-field{
    color: $white;
    background: $bar-green;
    border: none;
    padding-left: 20%;
    outline:none;
  }

}

.submit-btn{
  display: flex;
  // border-left: 1px solid white;

 .search-bar-submit{
  color: $white;
 }

}
.cat-sub{
  display: flex;
  justify-content: space-around;
  padding-left: 0;
  padding-right: 0;

}
