.search-input-group {
    // width: 600px;
    width: 80%;
    border: 1px white solid;
    border-radius: 5px;
    background-color: #649d66;
    display: flex;
}

.search-cont {
  display: flex;
  justify-content: center;
}

.search-input{
  display: flex;
  input {
    outline:none;
    width: 300px;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background-color: $bar-green;
    color: white;
    flex-grow: 1;
    padding-right: 0;
  }
  form {
    display: flex;
  }

}

.categories{

  display: flex;
  #search-field{
    color: $white;
    background: $bar-green;
    border: none;
  }

}

.submit-btn{
  display: flex;

 .search-bar-submit{
  color: $white;
 }

}
.cat-sub{
  display: flex;
  justify-content: flex-end;

}
